body {
  font-family: Arial;
  font-size: 12px;
  color: darkgray;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  background: #005600;
  color: white;
  font-weight: bolder;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  background: #0081ff;
  a {
    float: left;
    width: 49%;
    display: block;
    height: 60px;
    line-height: 60px;
  }

  a:first-child {
    border-left: solid 1px black;
  }

  a:active {
    background: yellow;
  }
}

.view {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  left: 0px;
}




.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-scrolling: touch;
  padding: 20px;
  background: #FFF;
}